* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    color: #38bdf8;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 25px;
}

/* SECTIONS */
section {
    padding: 70px 80px;
}

h2 {
    color: #38bdf8;
    margin-bottom: 25px;
}

/* SKILLS */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-grid span {
    background: #020617;
    padding: 10px 18px;
    border-radius: 20px;
}

/* PROJECTS */
.project-card {
    display: flex;
    gap: 25px;
    background: #020617;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 12px;
}

.project-card img {
    width: 280px;
    border-radius: 10px;
}

.project-card h3 {
    color: #f8fafc;
}

.tech {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #94a3b8;
}

/* CONTACT */
#contact a {
    color: #38bdf8;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    section {
        padding: 40px 20px;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card img {
        width: 100%;
    }
}
