body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

section {
    padding: 40px;
}

h2 {
    color: #38bdf8;
}

ul li {
    margin-bottom: 8px;
}

.card {
    background: #020617;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

